* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Lato";
  src: url('Lato_Font/Lato-Medium.ttf') format('truetype'),
  url('Lato_Font/Lato-Light.ttf'),
  url('Lato_Font/Lato-Heavy.ttf'),
  url('Lato_Font/Lato-Bold.ttf');
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0px;
}
p{
  font-size: 16px;
}
h1{
  font-size: 2.5rem
}

header{
  background-image: url('../images/Background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100%;
}


.container{
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;
}

.flt-left{
  float: left;
}

nav{
  width: 100%;
  height: auto;
}

.contact-number{
  float: right;
}
.contact-number p{
  display: inline-block;
  padding-left: 5px;
  color: #fff;
  font-weight: bold;
}

.mobile{
  display: block;
}
.tablet-up{
  display: none;
}
#home{
  padding-top: 75px;
  max-width: 100%;
}
.img-wrapper{
  width: 100%;
}
#home img{
  max-width: 100%;
}
.home-text{
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.home-text a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #7ED321;
  padding: 15px 0px;
  width: 100%;
  margin: 15px 0px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}
#modal-btn{
  display: none;
}
.home-text ul {
  text-align: left;
}
.home-text ul li{
  padding-bottom: 15px;
}

/* form */
#downloadForm, #downloadForm-modal{
  text-align: center;
}
#downloadForm-modal h2, #downloadForm h2{
  margin-top: 50px;
  margin-bottom: 25px;
  color: #2898E0;
  font-size: 2rem;
}

#downloadForm-modal input, #downloadForm input{
  width: 100%;
  font-size: 16px;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #cecece;
  color: #cecece;
}

input.input-error{
  width: 100%;
  font-size: 16px;
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #e66161;
  background: #fbe7e7;
  color: #cecece;
}

form input.submit{
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  background-color: #7ED321;
  padding: 15px 0px;
  width: 100%;
  margin: 15px 0px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.validation-message{
  color: #e66161;
  display: none;
}

/* stats */
#stats{
  padding-top: 50px;
  /* width: 90%; */
  margin: 0 auto;
}
#stats h1{
  color: #6DBD02;
  text-align: center;
  font-weight: 400;
}
.row{
  width: 100%;
  margin: 0 auto;
}
.squares{
  width: 50%;
  text-align: center;
  display: inline-block;
}
#stats .squares h1.stat-numbers{
  color: #2898E0;
  font-weight: bold;
}
.squares p{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  margin-bottom: 30px;
  color: #ABABAB;
}

/* footer */
.footer-text{
  width: 50%;
  margin: 0 auto;
}
.footer-text p {
  text-align: center;
  color: #ABABAB;
  font-size: 14px;
}