@media only screen and (min-width : 768px) {
  .img-wrapper{
    width: 50%;
    float: none;
    margin: 0 auto;
  }
  .home-text{
    text-align: left;
  }
  .home-text a{
    padding: 15px 50px;
    width: auto;
  }
  .tip-sheet-form{
    width: 70%;
    margin: 0 auto;
  }
  .squares{
    width: 25%;
    float: left;
    text-align: center;
    display: inline-block;
  }
  .tablet-up{
    display: block;
  }
  .mobile{
    display: none;
  }
}

@media only screen and (min-width : 1024px) {
  h1{
    font-size: 2rem
  }
  #home{
    width: 80%;
    margin: 0 auto;
  }
  .img-wrapper{
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    float: left;
  }
  .home-text{
    width: 50%;
    display: inline-block;
    text-align: left;
  }
  #downloadForm{
    display: none;
  }
  #stats{
    width: 60%;
    margin: 0 auto;
  }
  #stats .squares h1.stat-numbers{
   font-size: 2.8rem;
  }
  .home-text a{
    display: none;
  }
  #modal-btn{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #7ED321;
    padding: 15px 50px;
    width: auto;
    margin: 15px 0px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    border: none;
  }
  .tip-sheet-form{
    width: 90%;
  }
  #downloadForm-modal input{
    margin-bottom: 5px;
    border: solid 1px #bbbbbb;
  }
}

@media only screen and (min-width : 1200px) {
  h1{
    font-size: 2.7rem
  }
  .img-wrapper{
    width: 40%;
  }
  .home-text{
    width: 60%;
  }
  div.modal-content{
    width: 25%;
  }
}